<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="add new item..."  required>
            <button id="submit"  type="submit"> Add Item</button>
        </form>

        <ul>
           <% for(var i=0;i<todos.length;i++){ %>
           <li><%= todos[i].item %></li>
           <% }%>
        </ul>
    </div>

    <script src="/todo.js"></script>
</body>
</html>